.entity {
  height: 200px;
  width: 200px;
  border: 1px solid lightgreen;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
}

.entity .title {
  height: 24px;
  font-weight: bold;
  border-top: 2px solid lightcoral;
  line-height: 24px;
  padding: 12px;
}

.entity.selected .title {
  background: lightskyblue;
  color: white;
  border-color: white;
}