.entity {
  height: 200px;
  width: 200px;
  box-shadow: 0px 0px 3px 1px lightcoral;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  user-select: none;
  cursor: pointer;
}

.entity.selected {
  box-shadow: 0px 0px 3px 1px lightblue;
}

.entity .title {
  height: 24px;
  font-weight: bold;
  border-top: 2px solid lightgray;
  line-height: 24px;
  padding: 12px;
}

.entity.selected .title {
  background: lightskyblue;
  color: white;
  border-color: white;
}